@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'Roboto';
  margin: 0;
}

.container {
  max-width: 1232px;
  margin: 0 auto;
  padding-left: 104px;
  padding-right: 104px;
}

/*header*/

.header {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 900px;
  background-image: url(../images/Image.png);
}

.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 51px;
  padding-bottom: 202px;
}

.nav_menu {
  display: flex;
  align-items: center;
  position: relative;
}

.nav_link {
  margin-left: 10px;
  color: #ffffff;
  margin-right: 0;
}

.intro-title {
  display: flex;
  color: #ffffff;
  height: 118px;
  width: 542px;
  left: 104px;
  top: 293px;
}

.form_descr {
  display: flex;
  color: #ffffff;
  ;
}

.form_descr>p {
  margin-right: 221px;
}

.search_descr {
  font-size: 12px;
  line-height: 21px;
  margin-top: 100px;
  margin-bottom: 24px;
}

.input_botton {
  display: flex;
  margin-left: 104px;
}

.apps {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}