@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    src: url("../fonts/Roboto-Medium.woff2") format("woff2");
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
  }
  
   {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
  }

  *,*::before,*::after{
    box-sizing:inherit ;
  }

  .header {
    background-position: center;
    background-repeat: no-repeat;
    height: 900px;
    background-image: url(../images/Image.png);
    
    
  }
 
  .container{
    max-width: 1440px;
    margin: 0 auto;
  }

  .header_container{
    display: flex;
    justify-content: space-between;
   
  }

  /*nav*/
  .nav{
font-size: 16px;
display: inline;
vertical-align: top;
margin: 0 10px;
  }

  .stays{
    margin-left: auto;
  }

  .title-underline{
    border: none;
    width: 40px;
    height: 2px;
    background: #F5BD41;
    margin: 0 auto;
    margin-bottom: 80px;
    margin-left: 0;
  }
  .nav_link{
    color: #ffffff;
    text-decoration: none;
    transition: color .2s;
  }

 .h2{
   color: white;
 }

  }
 
  


  






